@import url('bootstrap.min.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    font-size: 1rem;
}
body{
    font-family: "Open Sans", sans-serif;
}

h2{
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0.75rem 0;
    color: #000;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px #e5e5e5 solid;

}
h2 span{
    font-weight: 400;
}

/*Style for Home Page*/

/*Style for header*/
header .top-header{
    border-bottom: 1px solid #efefef;
}
header .top-header .nav-link{
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-right: 1px solid #efefef;
    color: #960202;
    display: inline-block;
    padding: 11px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

header .middle-part{
    margin-top: 1.5rem;
    margin-bottom: 1.225rem;
}

header .middle-part .container .row .col-sm-2 .logo{
    margin-top: 0.7rem;
}


header .middle-part .container .row .col-sm-8 .nav .nav-link{
    padding: 0.625rem 0.4375rem 0.4375rem 0.4375rem;
    color: #858585;
    font-size: 0.625rem;
    font-weight: normal;
    text-transform: uppercase;
}

header .middle-part .container .row .col-sm-8 .nav .nav-link .form-control{
    border-radius: 0;
    background-color: #f0f0f0;
    padding: 0.7rem 1.8rem 0.7rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
header .middle-part .container .row .col-sm-8 .nav .nav-link .form-control::placeholder{
    color: #9a8e8e;
}

header .middle-part .container .row .col-sm-8 .nav .nav-link .input-group-text{
    border-radius: 0;
    background-color: #ef4749;
    border-color: transparent;
    color: #fff;
    padding: .375rem 1rem;
}



header .middle-part .container .row .col-sm-8 .nav .about-us{
    margin-top: 0.7rem;
    margin-right: 0.6rem;
}
header .middle-part .container .row .col-sm-8 .nav .nav-link .btn-danger{
    background-color: #ef4749;
    border-color: transparent;
}

header .middle-part .container .row .col-sm-8 .nav .nav-link .btn{
    border-radius: 0;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    line-height: 2.1rem;
    margin: 0;
    padding: 0.3rem 3.5rem 0.3rem 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

header .bg-body-tertiary{
    background-color: #4a4a4a !important;
    padding-top: 0;
    padding-bottom: 0;
}
header .navbar .container .navbar-nav .nav-item{
    padding-left: 7px;
    padding-right: 7px;
}
header .navbar .container .navbar-nav .nav-link{
    font-size: 0.7rem;
    padding: 11px 0 7px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    border-bottom: 1px solid transparent;
    margin-top: 0.15rem;
    margin-bottom: 0.3rem;
}

header .navbar .container .navbar-nav .nav-item:hover{
    background-color: #f8f8f8;
}

header .navbar .container .navbar-nav .nav-item:hover .nav-link{
    color: #6c6c6c;
    border-bottom: 1px solid #d5cdcd;
    margin-bottom: 0.3rem;
}

/*Style for Carousel*/

.carousel-item {
    transition: transform 2s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2s;
}

/*Style for Best Sellers*/
.products .card{
    border-color:gray !important;
    box-shadow: 3px;
}
.products .card .card-body .card-title a{
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #000;
}

.products .card .card-body .card-title a:hover{
    color: #ef4749;
}

.products .card .card-body .rating i{
    color: #fafa02;
}

.products .card .card-body .price {
    font-weight: bold;
    color: #000;
    font-size: 0.875rem;
}

.products .card .card-body p .btn{
    padding: 8px 12px;
    font-size: 11px ;
    border: 1px solid #d1d1d1;
    text-align: center;
    letter-spacing: 1px;
    color: #666;
    font-weight: bold;
    transition: all 0.3s linear;
    text-transform: uppercase;
    background: #fff;
    border-radius: 0;
}

.products .card .card-body p .btn:hover{
    background: #ef4749;
    color: #fff;
    border: 1px #ef4749 solid;
}

/*footer*/
/* footer part */
.footer {
    
    padding: 2.5rem 0;
    background-color: #1e232c !important;
    position:sticky;
     
    
    
  } 
  


/*Style for Product Page*/
.product-breadcrumb .breadcrumb .breadcrumb-item{
    font-size: 11px;
    font-weight: normal;
}
.product-breadcrumb .breadcrumb .breadcrumb-item a{
    color: #666;
    text-decoration: none;
}

.product-breadcrumb .breadcrumb .active{
    color: #000;
}

.wrapper .container .row .col-sm-3 h3{
    border-bottom: 2px solid #333;
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0;
    padding: 0 0 0.625rem 0;
    text-transform: uppercase;
}

.wrapper .accordion .accordion-item{
    border-color: transparent;
}
.wrapper .accordion .accordion-item .accordion-header{
    border-color: transparent;
}

.wrapper .accordion .accordion-item .accordion-button:not(.collapsed){
    background-color: transparent;
    border-color: transparent;
}
.wrapper .accordion .accordion-item h2{
    border-color: transparent;
    padding: 0;
}

.wrapper .accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.wrapper .accordion .accordion-item:first-of-type > .accordion-header .accordion-button{
    border-color: transparent;

}

.wrapper .accordion .accordion-item .accordion-button{
    padding: 0;
}
.wrapper .accordion .accordion-item .accordion-body .nav-link{
    color: #000;
    font-size: 0.8rem;
}

.wrapper .container .col-sm-9 .products h2 a{
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
}

/*Style for Signup page*/
.myAccount h4{
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    padding-bottom: 0.7rem;
    text-transform: uppercase;
}

.myAccount form input::placeholder{
    color: #b2aeae;
    font-size: 0.8rem;
}


.logIn h4{
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    padding-bottom: 0.7rem;
    text-transform: uppercase;
}

.logIn form input::placeholder{
    color: #b2aeae;
    font-size: 0.8rem;
}



/*Style for about-us page*/
.about {
    padding: 1.4rem 0;
}

.about .heading h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.about .heading h1 span {
    color: #F24259;
}

.about .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.about.h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.choose {
margin-top: 4rem;
margin-bottom: 1.8rem ;
}


.about p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 15px;
    padding: 0;
    
}
.sidestyle{
    margin-left: 5rem;
   
}
.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #F24259;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}

.team-boxed {
    color:#313437;
    background-color:white;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:1.5rem;
   margin-top:4rem;
    color:inherit;
  }
  
 
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#F24259;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }
  


  .testimonials {
    padding: auto;
  }
  .testimonials h3 {
    margin-bottom:1.8rem;
    margin-top:3rem;
    font-weight:bold;
  }
  .testimonials .card {
    border-bottom: 3px #007bff solid !important;
    transition: 0.5s;
    margin-top: 60px;
  }
  .testimonials .card i {
    background-color: #007bff;
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
  }
  

/*faqs*/
.faq .faq-list {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: #e03a3c;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 25px;
    cursor: pointer;
  }
  
  .faq .faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #e03a3c;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  /*contactus*/





.contactus {
  
    font-weight: 600;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    color: rgb(239, 71, 73);
    margin-top: 3rem;
}

.welcome {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 1.5rem;
    color: #9b9b9b;
    line-height: 1.5;
	   text-align: center;

}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}



.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}


input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}


input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

/*style for product details page*/
.product_name .product_title{

    font-size:2.5rem ;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding-bottom: 12px;
    padding-right: 55px;
    text-align: left;

   
}
.product_detail .rating .price{
    color: #000;
    font-size: 1.8rem;
    font-weight: normal;
}
.product_detail .btn{
    border-radius: 0;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    line-height: 2.1rem;
   
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-weight: 700;
    text-transform: uppercase;
  
}


/*Media Quieries*/
@media (max-width: 320px){
    html{
        font-size: 0.9rem;
    }
}

@media (min-width: 575px) and (max-width: 575.99px) {  }